.container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.pad {
    width: 60%;
    max-width: 600px;
}

.gro {
    width: 100%;
}

.inp {
    width: 90%;
}

.g {
    width: 100%;
    justify-content: center;
}