.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10%;
}

.gro {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.ico {
    margin: 0 10px;
}

.g {
    width: 100%;
    justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.li {
    width: 100%;
}

.t {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}