.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10%;
}

.gro {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
}

.wr {
    display: flex;
    margin: 15px;
}

.in {
    display: flex;
}

.ou {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-right: 40px;
    border-right: 1px solid gray;
    margin-right: 40px;
}