.container {
    display: flex;
}

.lbox {
    width: 500px;
    margin-right: 20px;
}

.rbox {
    border-left: 1px solid gray;
    padding-left: 20px;
    width: 400px;
    position: relative;
}

.float {
    position: absolute;
    right: 10px;
    bottom: 10px;
}